<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="src/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="src/assets/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="src/assets/css/loading-screen.css">
	<title>Media4Share</title>
</head>
<body>

<div class="loading-screen-container" id="loadingScreenContainer">
	<div class="wrapper">
		<div class="icon">
			<img src="src/assets/img/logo/logo.png" alt="">
		</div>
		<div class="quotes-div">
			<div class="quote">
				<div class="quote-text">
					<span class="quote-text-content" id="quoteTextContent">
						<span class="cursor"></span>
						A file-sharing service and a hedge fund are essentially the same things. In both cases, there's this idea that whoever has the biggest computer can analyze everyone else to their advantage and concentrate wealth and power. It's shrinking the overall economy. I think it's the mistake of our age.
					</span>
					<span class="quote-author" id="quoteAuthorFirst">Jaron</span>
				</div>
				<p class="quote-author" id="quoteAuthorLast">Lanier</p>
			</div>
		</div>
		<div class="loader">
			<div class="lds-ripple"><div></div><div></div></div>
		</div>
	</div>
	<div class="copyright">
		<p class="cr-bold">Copyright &copy; by Holoola-z Company</p>
		<p class="cr-small">All rights reserved</p>
		<p class="cr-date">2022</p>
	</div>
</div>

<script type="text/javascript" src="src/assets/js/loading-screen.js"></script>
</body>
</html>