<div class="download-dialog" id="downloadDialogContainer">
	<div class="wrapper">
		<div class="download-dialog-header">
			<div class="btn-group btn-group-sm">
				<button class="btn-minimize" id="minimizeBTN">
					<i class="fa-solid fa-window-minimize"></i>
				</button>
				<button class="btn-close" id="closeBTN"></button>
			</div>
		</div>
		<div class="download-dialog-body" id="dialogBody">
			<!--
			<div class="download" id="">
				<div class="mb-1 text-right">
					<button class="btn-close"></button>
				</div>
				<div class="row gx-2 gy-2">
					<div class="col-lg-2 col-md-2 col-sm-12" style="width:11%;">
						<img src="assets/img/utils/placeholder.png" class="img-02" alt="">
					</div>
					<div class="col-lg col-md col-sm-12">
						<p class="download-name">
							Blender Geometry Nodes Proximity Disintegration For Absolute Beginners
						</p>
					</div>
				</div>
				<div class="download-info mt-1">
					<span class="text-05" id="transferSpeed"></span>
					<span class="text-05" id="timeRemaining"></span>
				</div>
				<div class="progress mt-1">
					<div class="progress-bar progress-bar-striped bg-success" id="progressBar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>
<div class="download-dialog-minimized" id="downloadDialogMinimized">
	<div class="text-02 nopointer-events">
		Downloading Files 
		<span class="text-07">(click here to view)</span>
	</div>
</div>