.list-01
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    border-top: 1px solid #DFDFE1;
    border-bottom: 1px solid #DFDFE1;
    display: inline-block;
}
.list-01::after
{
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}
.list-01 .list-item
{
    float: left;
    background: #F5F7FB;
    padding: 1em;
    border-left: 1px solid #DFDFE1;
    opacity: .3;
    text-align: center;
    cursor: pointer;
    transition: background .5s ease-in-out,
                opacity .5s ease-in-out;
}
.list-01 .list-item:first-of-type
{
    border-left-color: transparent; 
}
.list-01 .list-item.active 
{
    border-right-color: transparent; 
    opacity: 1;
    background: #ffffff;
}
.list-01 .list-item.active 
.list-text
{
    color: hsl(232deg 47% 56%);
}
.list-01 .list-item 
.list-image 
{
    display: inline-block;
    margin: 0 auto;
    width: 90px;
    height: 80px;
    pointer-events: none;
}
.list-01 .list-item 
.list-text
{
    font-weight: 200;
    font-size: 14px;
    pointer-events: none;
    margin: .5em 0 0 0;
}
.list-02
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-02::after
{
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}
.list-02 .list-item
{
    float: left;
    padding: .5em 1em;
    color: #C10841;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
}
.list-02 .list-item:hover
{
    background: #EEEEEE;
}
.list-02 .list-item.active
{
    background: #EEEEEE;
    color: #555555;
    border-color: #DDDDDD;
}