
/*Start Fonts*/
/* Open Sans */
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Thin.eot");
    src: url("../font/Roboto-Thin.eot?#iefix") format('embedded-opentype'),
         url("../font/Roboto-Thin.woff2") format('woff2'),
         url("../font/Roboto-Thin.woff") format('woff'),
         url("../font/Roboto-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Light.eot");
    src: url("../font/Roboto-Light.eot?#iefix") format('embedded-opentype'),
         url("../font/Roboto-Light.woff2") format('woff2'),
         url("../font/Roboto-Light.woff") format('woff'),
         url("../font/Roboto-Light.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.eot");
    src: url("../font/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
         url("../font/Roboto-Regular.woff2") format('woff2'),
         url("../font/Roboto-Regular.woff") format('woff'),
         url("../font/Roboto-Regular.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto-Medium.eot');
    src: url('../font/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Medium.woff2') format('woff2'),
         url('../font/Roboto-Medium.woff') format('woff'),
         url('../font/Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto-Bold.eot');
    src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Bold.woff2') format('woff2'),
         url('../font/Roboto-Bold.woff') format('woff'),
         url('../font/Roboto-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto-Bold.eot');
    src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Bold.woff2') format('woff2'),
         url('../font/Roboto-Bold.woff') format('woff'),
         url('../font/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/*End Fonts*/
*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Roboto', sans-serif !important;
}
html, body
{
    height: 100%;
}

/* Start Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2; 
  -webkit-box-shadow: inset 0 0 .2rem #808080; 
          box-shadow: inset 0 0 .2rem #808080;
}
/* Track Active */
::-webkit-scrollbar-track:active {
  background: #d9d9d9; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d; 
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 .3rem #4d4d4d;
          box-shadow: inset 0 0 .3rem #4d4d4d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333; 
}
/* End Scrollbar */
/*Tooltips Start*/
[data-tooltip-top]
{
    position: relative;
    cursor: default;
}
[data-tooltip-top]::after
{
    position: absolute;
    width: 143px;
    left: calc(50% - 73px);
    bottom: 125%;
    content: attr(data-tooltip-top);
    background: #0d0d0d;
    color: #ffffff;
    border-radius: 3px;
    padding: .6em 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    font-size: 11px !important;
    line-height: 1.5;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
}
[data-tooltip-top]:hover:after
{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
}
[data-tooltip-bottom]
{
    position: relative;
    cursor: default;
}
[data-tooltip-bottom]::after
{
    position: absolute;
    width: 143px;
    left: calc(50% - 73px);
    top: 125%;
    content: attr(data-tooltip-bottom);
    background: #0d0d0d;
    color: #ffffff;
    border-radius: 3px;
    padding: .6em 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    font-size: 11px !important;
    line-height: 1.5;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}
[data-tooltip-bottom]:hover:after
{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
}
[data-tooltip-right]
{
    position: relative;
    cursor: default;
}
[data-tooltip-right]::after
{
    position: absolute;
    width: 143px;
    right: -150px;
    content: attr(data-tooltip-right);
    background: #0d0d0d;
    color: #ffffff;
    border-radius: 3px;
    padding: .6em 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    font-size: 11px !important;
    line-height: 1.5;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
}
[data-tooltip-right]:hover:after
{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}
[data-tooltip-left]
{
    position: relative;
    cursor: default;
}
[data-tooltip-left]::after
{
    position: absolute;
    width: 143px;
    left: -150px;
    content: attr(data-tooltip-left);
    background: #0d0d0d;
    color: #ffffff;
    border-radius: 3px;
    padding: .6em 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    font-size: 11px !important;
    line-height: 1.5;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
}
[data-tooltip-left]:hover:after
{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
            transform: translateX(-15px);
}
/*Tooltips End*/
.alert .alert-icon
{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
}
.alert .alert-text
{
    font-weight: 200 !important;
    font-size: 15px !important;
}
.p-1
{
    padding: 1em !important;
}
.mt-2
{
    margin-top: 2em !important;
}
.mt-3
{
    margin-top: 3em !important;
}
.mb-1
{
    margin-bottom: 1em !important;
}
.mb-3
{
    margin-bottom: 3em !important;
}
.my-3
{
    margin-top: 3em !important;
    margin-bottom: 3em !important;
}
.mr-0_5
{
    margin-right: .5em !important;
}
.img-01
{
    max-width: 48px;
    max-height: 48px;
    border-radius: 50%;
    display: inline-block;
}
.img-02 
{
    width: 48px;
    height: 48px;
    display: inline-block;
}
.iframe-01
{
    width: 100%;
    height: 353px;
    overflow: hidden;
    background: #000000;
    border: none;
    border-radius: 5px;
    padding: .5em;
    box-shadow: 1px 1px 0.5em #8b8b8bbd;
}
.iframe-01 img
{
    width: 100%;
    height: 100%;
}
.iframe-01 video
{
    width: 100%;
    height: 100%;
}
.title-01
{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: .5em;
    color: #424670;
}
.title-02
{
    font-weight: 500;
    font-size: 17px;
    margin-bottom: .5em;
    color: #000000;
}
.text-01
{
    font-weight: 200;
    color: #666;
    font-size: 13px;
    padding: 6px;
}
.text-02
{
    font-weight: 200;
    color: #000000;
    font-size: 16px;
}
.text-03
{
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    margin: 0;
}
.text-04
{
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    margin: 0;
}
.text-05
{
    font-weight: 200;
    color: #000000;
    font-size: 12px;
    margin: 0;
}
.text-06
{
    font-weight: 200;
    color: #000000;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}
.text-07
{
    font-weight: 200;
    color: #000000;
    font-size: 10px;
    margin: 0;
}
.pointer-events
{
    pointer-events: auto !important;
}
.nopointer-events
{
    pointer-events: none !important;
}
.link-01
{
    color: #c10841;
    text-decoration: none;
}
.link-01:hover
{
    color: #a90437;
}
.text-center
{
    text-align: center !important;
}
.text-left
{
    text-align: left !important;
}
.text-right
{
    text-align: right !important;
}
.text-auto
{
    text-align: -webkit-auto !important;
    direction: unset !important;
}
.input-01
{
    padding: .5em 130px .5em .5em;
    width: 100%;
    height: 60px;
    border: 5px solid #ff0068;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3333333;
    color: #555;
    font-size: 16px;
    font-weight: 300;
    outline: 0;
    background: #fff;
    background-image: none;
    transition: border-color ease-in-out .15s, 
                box-shadow ease-in-out .15s;
}
.input-01::placeholder
{
    font-weight: 200;
    font-size: 15px;
    opacity: .7;
}
.btn-01
{
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 120px;
    border-radius: 0 4px 4px 0;
    padding: 10px 24px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    border: 1px solid #ff0068;
    background: #f20a51;  
}
.btn-01:hover
{
    background: #c10841;
}
.btn-01 .text
{
    font-weight: 400;
}
.btn-01 .icon
{
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
}
.container-01
{
    background: #ffffff;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 10px solid #4d0066;
    border-bottom: 5px solid #4d00666e;
    border-radius: 5px;
    padding: 1em !important;
    margin: 5em auto;
}
.tag-01 
{
    padding: .2em .6em .3em;
    border-radius: .25em;
    background: #337ab7;
    display: inline-block;
    color: #ffffff;
    font-size: 10px;
}
.tag-02 
{
    display: inline-flex;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 9px;
}
.btn-close
{
    font-size: 9px;
}
.main-content-container
{
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
    background: #F9F9F9;
}


.download-dialog
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 555;
}
.download-dialog.active
{
    display: flex;
}
.download-dialog .wrapper
{
    background: #ffffff;
    border-radius: 3px;
    border: 1px dashed #a6a6a6;
    min-width: 730px;
}
.download-dialog .btn-close
{
    font-size: 9px;
}
.download-dialog .btn-minimize
{
    font-size: 9px;
    color: #707070;
    border: none;
    background: transparent;
    display: inline-block;
    margin-right: .6em;
}
.download-dialog .btn-minimize:hover
{
    color: #000000;
}
.download-dialog 
.download-dialog-header
{
    padding: 1em;
    text-align: right;
    border-bottom: 1px dashed #a6a6a6;
}
.download-dialog 
.download-dialog-body 
{
    max-height: 600px;
    min-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f2f2f2;
}
.download-dialog .download
{
    padding: .5em;
    margin-top: .5em;
    border-bottom: 1px dashed #c1c1c1;
    background: #ffffff;
}
.download-dialog .download
.download-name 
{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
    white-space: nowrap;
    line-height: 44px;
    margin: 0;
}

.download-dialog-minimized
{
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 370px;
    padding: 1em;
    display: none;
    cursor: pointer;
    z-index: 555;
    background: #ffffff;
    border-radius: 3px;
    border: 1px dashed #b9b9b9;
}
.download-dialog-minimized.active
{
    display: block;
}
.download-dialog-minimized 
.text-07
{
    color: #787878;
}






