.utable
{
    background: #ffffff;
    width: 100%;
    border: 1px solid #DEDEDE;
    margin-top: 1em;
    list-style: none;
    font-size: 14px;
    overflow: hidden;
}
.utable .thead
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.utable .thead .td
{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    text-align:center;
    border-right: 1px solid #DEDEDE;
    padding: .5em 1em;
    overflow-x: auto;
    overflow-y: hidden;
}
.utable .td:last-of-type
{
    border-right: none;
}
.utable .tbody .tr
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-top: 1px solid #DEDEDE;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.utable .tbody .tr .td
{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    text-align:center;
    border-right: 1px solid #DEDEDE;
    padding: .7em 0;
    overflow-x: auto;
    overflow-y: hidden;
    font-weight: 300;
    pointer-events: none;
}
.utable .tbody .tr .td input[type='checkbox']
{
    pointer-events: auto;
}
.td.p-1
{
    padding: .5em 0;
}
.td.p-2
{
    padding: .7em 0;
}
.td.p-3
{
    padding: 1em 0;
}.utable .tbody .tr .td:last-of-type
{
    border-right: none;
}
/*Custom Style*/
.utable.rotated-rows .thead
{
    -webkit-box-shadow: inset 0 0 2em #d9d9d9;
            box-shadow: inset 0 0 2em #d9d9d9;
}
.utable.rotated-rows .tbody .tr:nth-child(odd)
{
    -webkit-transform: rotate(359deg) translateY(10px);
        -ms-transform: rotate(359deg) translateY(10px);
            transform: rotate(359deg) translateY(10px);
    background: #f2f2f2;
    margin-bottom: 2em;
}
.utable.rotated-rows .tbody .tr:nth-child(even)
{
    -webkit-transform: rotate(1deg) translateY(10px);
        -ms-transform: rotate(1deg) translateY(10px);
            transform: rotate(1deg) translateY(10px);
    background: #ffffff;
}

.utable.standard
{
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: auto;
}
.utable.standard .thead
{
    background: #362F4B;
    color: #ffffff;
}
.utable.standard .thead .td
{
    border:  none;
}
.utable.standard .tbody .tr:nth-child(odd)
{
    background: #f9f9f9;
}
.utable.standard .tbody .tr:nth-child(even)
{
    background: #ffffff;
}
.utable.standard .tbody .tr
{
    border: none;
}
.utable.standard .tbody .tr .td
{
    border: none;
    color: #1a0033;
}

.utable.shadowed
{
    border: none;
    box-shadow: 0 1px 1em #dbdbdb;
}
.utable.shadowed .thead
{
    background: #ffffff;
    color: #C27178;
    box-shadow: 0 2px .5em #F0F0F0;
}
.utable.shadowed .thead .td
{
    border:  none;
}
.utable.shadowed .tbody .tr
{
    border-color: #f2f2f2;
}
.utable.shadowed .tbody .tr .td
{
    border: none;
    color: #370e5eb0;
}

.utable.separate-rows
{
    border: none;
    background: transparent;
}
.utable.separate-rows .thead
{
    background: #343A3F;
    color: #ffffff;
}
.utable.separate-rows .thead .td
{
    border:  none;
}
.utable.separate-rows .tbody .tr
{
    border: none;
    margin-top: .7em;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 0.5em #efefef;
}
.utable.separate-rows .tbody .tr .td
{
    border: none;
}

.utable.odd-columns
{
    border: none;
    background: transparent;
}
.utable.odd-columns .thead
{
    background: #611FF0;
    color: #ffffff;
}
.utable.odd-columns .thead .td
{
    border:  none;
}
.utable.odd-columns .tbody .tr
{
    border-top: 1px solid #f2f2f2;
}
.utable.odd-columns .tbody .tr .td
{
    border: none;
}
.utable.odd-columns .tbody .tr .td:nth-child(odd)
{
    background: #F5F7FB;
}
.utable.odd-columns .tbody .tr .td:nth-child(even)
{
    background: #ffffff;
}

.utable.accordion
{
    border: none;
    background: transparent;
}
.utable.accordion .thead
{
    background: #9EB09F;
    color: #ffffff;
}
.utable.accordion .thead .td
{
    border:  none;
}
.utable.accordion .tbody .tr
{
    border: none;
    background: #ffffff;
    box-shadow: 0 0 .5em #EBEBEB;
    margin-top: .1em;
}
.utable.accordion .tbody .tr .td
{
    border: none;
}

.utable.big-dark
{
    border: none;
    background: #2B2F35;
    padding: .5em;
}
.utable.big-dark .thead
{
    background: #343A3F;
    box-shadow: 0 0 .5em #343A3F;
    color: #ffffff;
}
.utable.big-dark .thead .td
{
    border:  none;
}
.utable.big-dark .tbody .tr
{
    border: none;
    border-radius: 3px;
    background: #343A3F;
    box-shadow: 0 0 .2em #343A3F;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    margin-top: .2em;
}
.utable.big-dark .tbody .tr .td
{
    border: none;
}

.utable.minimalist
{
    border: none;
    background: #ffffff;
}
.utable.minimalist .thead
{

}
.utable.minimalist .thead .td
{
    border:  none;
    color: #000000;
}
.utable.minimalist .tbody .tr
{
    border: none;
    border-top: 2px solid #F2F2F2;
}
.utable.minimalist .tbody .tr .td
{
    border: none;
    color: #5a4e70;
}

.utable.flipped-hovererable-rows
{
    border: none;
    background: #ffffff;
}
.utable.flipped-hovererable-rows .thead
{
    transform: scale(1.1) rotateX(337deg);
    background: #f5fffa;
}
.utable.flipped-hovererable-rows .thead .td
{
    border:  none;
    color: #3e4e4e;
}
.utable.flipped-hovererable-rows .tbody .tr
{
    border: none;
    border-top: 2px solid #F2F2F2;
}
.utable.flipped-hovererable-rows .tbody .tr:hover
{
    transform: rotateY(20deg);
}
.utable.flipped-hovererable-rows .tbody .tr .td
{
    border: none;
    color: #1f064c8a;
}

.utable.highlights
{
    border: none;
}
.utable.highlights .thead
{
    box-shadow: 0 2px .2em #e6e6e6;
    margin-bottom: .5em;
    background: #EFEFEF;
}
.utable.highlights .thead .td
{
    border:  none;
    color: #1a1a1a;
}
.utable.highlights .tbody .tr
{
    border: none;
    background: #EFEFEF;
}
.utable.highlights .tbody .tr:hover
{
    background: #ffffff;
    box-shadow: inset 0 0 .5em #1a0033;
}
.utable.highlights .tbody .tr:hover .td
{
    color: #333333;
    text-shadow: 0 1px 1px #333333;
}
.utable.highlights .tbody .tr .td
{
    border: none;
    color: #686868;
}
.table-div
{
    width:  100%;
    max-height: 100vh;
    overflow: auto;
}