<div class="youtube-downloads-container" id="youtubeDownloadsContainer">
	<div class="container container-01 p-1">
		<h1 class="title-01 text-center">Download Youtube Videos</h1>
		<div id="MENU_WRAPPER" class="text-center">
			<ul class="list-01" data-role="LIST_01">
				<li class="list-item active" data-tab="#SINGLE_VIDEO_WRAPPER">
					<img src="assets/img/utils/multimedia.png" class="list-image" alt="">
					<p class="list-text">Video</p>
				</li>
				<li class="list-item" data-tab="#PLAYLIST_WRAPPER">
					<img src="assets/img/utils/playlist.png" class="list-image" alt="">
					<p class="list-text">Playlist</p>
				</li>
			</ul>
		</div>
		<div class="my-3" id="ERROR_BOX" style="display:none;">
			<div class="alert alert-danger d-flex align-items-center" role="alert">
				<img src="assets/img/utils/danger.png" class="alert-icon" alt="">
				<div id="text" class="alert-text">
				
				</div>
			</div>
		</div>
		<div class="mt-3">
			<div id="SINGLE_VIDEO_WRAPPER" class="text-center">
				<h1 class="title-02 mb-3">Download Video and Audio from YouTube</h1>
				<form action="#" id="SVW_FORM" class="position-relative">
					<input type="text" placeholder="Search or paste link here..." class="input-01" autocomplete="off" id="videoURLInput">
					<button class="btn-01" type="submit">
						<span class="text">Start</span>
						<span class="icon">
							<i class="fa-solid fa-right-long"></i>
						</span>
					</button>
				</form>
				<p class="text-01">
					By using our service you are accepting our
					<a href="#" class="link-01">Terms of Use.</a>
				</p>
				<img src="assets/img/utils/loader.gif" id="LOADER_01" style="display:none;">
				<div class="row gx-4 gy-3 mt-3" id="VIDEO_LINKS_DIV" style="display: none;">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<iframe src="assets/img/utils/clapperboard.png" id="IFRAME_01" class="iframe-01" scrolling="no" frameborder="0"></iframe>
						<p class="text-03" id="VIDEO_TITLE"></p>
						<div class="row gx-3 gy-3 mt-1 text-left">
							<div class="col-lg-2 col-md-2 col-sm-12" style="width:13%;">
								<img src="assets/img/utils/placeholder.png" class="img-01" id="USER_THUMBNAIL" alt="">
							</div>
							<div class="col-lg col-md col-sm" style="padding-top:5px;">
								<div class="row gx-0 gy-0">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<p class="text-04 d-inline-block" id="USER"></p>
										<span id="VERIFIED" class="tag-02" style="color:#818181;">
											
										</span>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<p class="text-05" style="color:#4c4c4c;" id="SUBSCRIBER_COUNT"></p>
									</div>
								</div>
							</div>
						</div>
						<div id="DESCRIPTION" class="text-06 mt-2 text-auto" style="overflow-x:hidden;overflow-y: auto;max-height: 400px;"></div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<ul class="list-02" data-role="LIST_02">
							<li class="list-item active" data-tab="#VIDEO_TAB">Video</li>
							<li class="list-item" data-tab="#AUDIO_TAB">Audio</li>
						</ul>
						<ul class="utable shadowed" id="VIDEO_TAB">
							<div class="thead">
								<li class="td">Resolution</li>
								<li class="td">FileSize</li>
								<li class="td">Download</li>
							</div>
							<div class="tbody" style="max-height:400px;overflow-y: auto;">
								<!--
								<div class="tr">
									<li class="td text-02">
										1080p (.mp4)
										<p class="tag-01">full-HD</p>
									</li>
									<li class="td text-02">
										153.1 MB
									</li>
									<li class="td text-02 pointer-events">
										<button class="btn btn-success btn-sm">
											<span><i class="fa-solid fa-cloud-arrow-down"></i></span>
											Download
										</button>
									</li>
								</div>
								-->
							</div>
						</ul>
						<ul class="utable shadowed" id="AUDIO_TAB" style="display: none;">
							<div class="thead">
								<li class="td">File type</li>
								<li class="td">FileSize</li>
								<li class="td">Download</li>
							</div>
							<div class="tbody" style="max-height:400px;overflow-y: auto;">
								<!--
								<div class="tr">
									<li class="td text-02">
										1080p (.mp4)
										<p class="tag-01">full-HD</p>
									</li>
									<li class="td text-02">
										153.1 MB
									</li>
									<li class="td text-02 pointer-events">
										<button class="btn btn-success btn-sm">
											<span><i class="fa-solid fa-cloud-arrow-down"></i></span>
											Download
										</button>
									</li>
								</div>
								-->
							</div>
						</ul>
					</div>
				</div>
			</div>
			<div id="PLAYLIST_WRAPPER" style="display: none;">
				
			</div>
		</div>
	</div>
</div>